body {
    background-color: rgb(238, 238, 238);
    font-family: Helvetica, sans-serif;
    margin: 2em 4em;
}

.page {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Georgia, serif;
}

header {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px rgb(0, 0, 0) solid;
    flex-basis: 100%;
}

header h1 {
    text-transform: uppercase;
}

header nav {
    align-self: center;
}

header nav ul {
    display: flex;
    list-style: none;
}

a {
    color: rgb(0, 153, 0);
    text-decoration: none;
    margin: 8px;
}

section {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

main {
    flex-basis: 60%;
}

img {
    border: 5px black solid;
    padding: 10px;
    margin-bottom: 15px;
    box-shadow: rgba(0, 0, 0, 0.25);
    background: rgb(255, 255, 255);
}

img.right {
    float: right;
    margin-left: 15px;
}

img.left {
    float: left;
    margin-right: 15px;
}

blockquote {
    border-left: 3px #dddddd solid;
    padding-left: 30px;
    float: right;
    max-width: 40%;
    font-style: italic;
    color: #5f5956;
    font-family: Georgia, serif;
}

blockquote cite {
    display: block;
    padding-top: 50px;
    float: right;
}

aside {
    flex-basis: 20%;
    margin-right: -50px;
}

section aside nav ul li {
    list-style-type: square;
} 
@media (width > 500px){
    body{
        font-size: 14px;
    }
}
@media (width > 600px){
    body{
        font-size: 16px;
    }
}
@media (width > 800px){
    body{
        font-size: 18px;
    }
}
@media (width > 1300px){
    body{
        font-size: 21px;
    }
}
@media (width > 1800px){
    body{
        font-size: 23px;
    }
}
@media (width > 500px){
    body{
        font-size: 14px;
    }
}
@media (width > 500px){
    body{
        font-size: 14px;
    }
}
