@media (width <= 600px){
    .site-main {
        margin: 0;
    }

    .site-navigation{
        display: none;
    }
    .entry-header {
        background:
          url("./images/header-image.jpg") center center;
      }
    
    .button.button-primary{
        width: 120px;
        margin: auto;
    }

    .site-logos-container{
        display: flex;
        flex-wrap: wrap;
        min-width: initial;
        justify-content: center;
    }

    .site-information{
        display: flex;
        flex-direction: column;
    }

    .site-form{
        margin: 0;
    }

    .site-blog-container{
        margin: 0;
    }

    .entry-subtitle,
    .entry-title,
    .entry-description{
        text-align: center;
        width: 100%;
    }
    .site-information-text{
        display: flex;
        flex-direction: column;
    }
    .entry-title{
        font-size: 0.5rem;
    }
    form > p{
        display: flex;
        flex-direction: column;
    }
    .site-form input {
        width: 100%;
      }
    #first-name{
        display: inline-block;
        max-width: 30rem;
    }

    .entry-subtitle{
        font-size: 1rem;
    }

    .entry-title{
        font-size: 2rem;
        width: 250px;
        margin: auto;
    }

    .site-posts{
        display: flex;
        flex-direction: column;
        gap: 1em;
    }
    .site-post {
        width: 350px;
        margin: auto;
    }
    .site-footer{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}