* {
    padding: 0;
    margin: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
    font: 12px/1.5 'Lato', sans-serif;
}

body{
    background-color: red;
}
div{
    display: flex;
    gap: 1em;
    background-color:blue;
    height: 100px;
}
section{
    margin: 2em;
    height: 200px;
    background-color: yellow;
}