.site-header{
    background-color: #D01919;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1em 3em;
}

.site-header p{
    color: #FFFFFF;
}

svg{
    fill: #FFFFFF;
}

ul{
    display: flex;
    gap: 0.3em;
}
span{
    margin-right: 0.5em;
}

