body {
    padding: 0 2em;
}

.site {
    max-width: 80%;
    margin: 0 auto;
}

.site-header {
    border-bottom: 2px solid #000;
    margin-bottom: 2em;
    /* position: relative; */
}

.site-footer {
    border-top: 2px solid #000;
    padding-top: 1em;
}

.banner {
    background: red;
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    border: 2px solid #fff;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.2);
    border-radius: 0.6em;
}

.banner img {
    display: block;
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.banner:after {
    display: block;
    content: '';
    position: absolute;
    inset: 0;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.3) inset;
    background-color: rgba(0,0,0,0.7);
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
}

.banner:hover:after {
    opacity: 0;
}

.banner:before {
    display: block;
    content: 'The title goes here';
    position: absolute;
    inset: 0;
    padding: 1em;
    color: white;
    z-index: 1000;
}

